.app-root {
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0;
    padding: 0;
}

.tab-bar {
    height: 100%;
    float: left;
    max-width: 25%
}

.main-container {
    height: 100%;
    width: 100%;
    padding: 12px;
    overflow: auto;
}
